.report {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-block: 50px 80px;
  padding: 0 60px;
  font-size: var(--font-size-16);

  h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: var(--font-size-20);
    font-weight: 700;
  }

  p {
    text-align: center;
    line-height: 28px;
  }
}

.competency,
.recomRes {
  h3 {
    font-size: var(--font-size-20);
    font-weight: 700;
    margin-bottom: 24px;
  }

  h4 {
    font-size: var(--font-size-16);
    font-weight: 700;

    margin-bottom: 24px;
  }

  p {
    text-align: left;
    margin-bottom: 28px;
  }
}

.chart {
  max-width: 400px;
  aspect-ratio: 1;
  margin: 0 auto 32px;
}

.top3List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top3Competency {
  display: block;
  margin-bottom: 8px;
  font-size: var(--font-size-16);
}

.top3Description {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-14);
}

.resumeList {
  display: flex;
  flex-direction: column;
  gap: 28px;

  li {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.jobFieldText {
  color: var(--color-secondary);
}

.downloadLink {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  border: 1px solid var(--color-gray-ef);
  border-radius: 5px;
  font-size: var(--font-size-14);

  &:hover {
    background-color: var(--color-tertiary);
  }
}

@media (max-width: 768px) {
  .report {
    padding: 0 32px;
  }
}

@media (max-width: 481px) {
  .report {
    padding: 0 24px;
    font-size: var(--font-size-14);

    h2 {
      text-align: center;
      font-size: var(--font-size-18);
      margin-bottom: 40px;
    }
  }

  .competency,
  .recomRes {
    h3 {
      font-size: var(--font-size-18);
    }
  }

  .arrow {
    font-size: var(--font-size-12);
    margin-right: 4px;
  }

  .downloadLink {
    font-size: var(--font-size-12);
  }
}

@media (max-width: 320px) {
  .report {
    h2 {
      font-size: var(--font-size-16);
    }
  }

  .downloadText {
    display: none;
  }
}
