.startContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  padding: 0 16px;
  text-align: center;
}

.title {
  font-size: var(--font-size-24);
  font-weight: 700;
}

.text {
  margin-block: 32px 60px;
  line-height: 28px;
}
